%pseudo{
    display: block;
    content: '';
    min-width: 1px;
    min-height: 1px;
}

%full{
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

%bg-cover{
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

%flex-center{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
