$breakpoints: (
    xs: 320px,
    sm: 567px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

@function rwdValue( $value, $from:true ) {
    @if map-has-key($breakpoints, $value) {
        @if ($from) {
            @return map-get($breakpoints, $value);
        }@else {
            @return map-get($breakpoints, $value) - 1px;
        }
    } @else if is-int($value) {
        @return $value;
    } @else {
        @error 'rwdValue() - wartość nie jest liczbą oraz brak zdefiniowanego breakpointa.';
    }
}

@mixin rwd( $from:0, $to:false ){
    @if ($to) {
        @media (min-width: rwdValue($from)) and (max-width: rwdValue($to,false)){ @content; }
    }
    @else{
        @media (min-width: rwdValue($from)) { @content; }
    }
}
