body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 0;
}
a, a:hover{
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    font-weight: inherit;
}
