.banner{

    @extend %flex-center;

    .banner__brand{
        text-align: center;
        margin: auto;
    }

    .banner__img{
        text-align: center;
        margin: auto;
    }

    .banner__content{
        
    }

}
