.btn{

    @extend %flex-center;
    position: relative;
    display: inline-flex;

    .btn__txt{
        word-break: break-word;
    }

    &--contact{
        @extend .btn;
        display: flex;
        width: 100%;
        color: map-get($colors, brand-gray);
        font-size: 1.2em;
        text-decoration: none;
        margin: 0 0 1em;
        &--phone{
            @extend .btn--contact;
            font-size: 1.8em;
            font-weight: 300;
        }
        &:hover{
            text-decoration: none;
            color: map-get($colors, brand-gray);
        }
    }

}
