.description{

    color: #666;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    max-width: 960px;
    margin: auto;

    @include rwd( lg ){
        font-size: 1.0em;
        line-height: 1.7em;
    }

    @include rwd( lg ){
        font-size: 1.1em;
        line-height: 1.8em;
    }

}
