.grid{

    position: relative;

    &--contact{
        @extend .grid;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 100%);
        @include rwd( md ){
            grid-template-columns: repeat(2, calc(50% - 10px));
        }
    }

}
