.page{

    position:relative;
    min-height: 100vh;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    padding: 0;
    background-color: #50216f;
    color: #fff;

    .page__header{
        position: relative;
        width: 100%;
    }
    .page__primary{
        position: relative;
        flex: 1;
        width: 100%;
    }
    .page__footer{
        position: relative;
        width: 100%;
    }

}

