.title{

    position: relative;
    font-size: 3em;
    color: map-get($colors, brand-green);
    margin: 1em auto 1em;

    &--h1{
        @extend .title;
        margin: 0.5em auto 0.5em;
        font-size: 2em;
        @include rwd( sm ){
            font-size: 2.5em;
        }
        @include rwd( md ){
            font-size: 3em;
        }
    }

    &--h2{
        @extend .title;
        color: map-get($colors, brand-gray);
        font-size: 1.7em;
        margin: 0.5em 0 0.5em;
    }

    &--section{
        @extend .title;
        font-size: 1.4em;
    }

    &--contact{
        @extend .title;
        color: map-get($colors, brand-gray);
        font-size: 1.7em;
    }

}
